{% extends "base.html" %}

{% block content %}
<main>
	<section class="hero-section">
		<p>Hero Section</p>
		<article class="current-event">Event</article>
		<article class="featured-in">FI</article>
	</section>
	<section class="about-section">
		<p>About us</p>
		<p></p>
	</section>
	<section class="courses-section">
		<p>Courses</p>
	</section>
	<section class="join-section">
		<section class="join-section-free-trial"></section>
		<section class="join-section-sign-up"></section>
	</section>
	<section class="pricing-section">
		<p>Pricing</p>
	</section>
	<section class="faqs-section">
		<p>FAQS</p>
	</section>
</main>

<footer>
	<p>&copy; 2026 Shine Parkour ASD - Tutti i diritti riservati.</p>
</footer>
{% endblock %}