<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Shine Parkour ASD{% endblock %}</title>
	<!-- Google Font Rubik -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap" rel="stylesheet">

	<link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Shine" />
	<link rel="manifest" href="/static/site.webmanifest" />

	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/htmx.min.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>